<div class="container mt-5">
    <h2 class="text-center mb-4">Hakkımızda</h2>

    <div class="text-center mb-4">
        <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg"
             alt="Kütüphane Fotoğrafı"
             class="img-fluid rounded shadow"
             style="max-width: 500px; width: 100%; height:600px;" />
    </div>

    <div class="mx-auto" style="max-width: 700px; font-size: 1.1rem; line-height: 1.6;">
        <p>
            Hoş geldiniz! Bu kütüphane, hayal gücünüzü ve bilginizi geliştirmek için tasarlanmış dijital bir mekandır.
            Zengin kitap koleksiyonumuz ve çeşitli yazarlarımız ile herkesin okumaktan keyif alacağı bir ortam sunuyoruz.
        </p>
        <p>
            Amacımız, bilgiye erişimi kolaylaştırmak ve okuma alışkanlığını teşvik etmektir. İster klasik eserleri, ister çağdaş romanları arıyor olun,
            burada kendinize uygun bir şey mutlaka bulacaksınız.
        </p>
        <p>
            Kütüphanemiz, kullanıcı dostu arayüzü ve güncel veritabanı sayesinde kitap arama, yazarları tanıma ve yeni kitaplar keşfetme deneyiminizi en üst seviyeye taşır.
            Siz de bu dijital kütüphanenin bir parçası olun, bilgi dünyasına yolculuğa çıkın!
        </p>
    </div>
</div>
<style>
	p , h2 {
		color: black;
	}
</style>