<div class="d-flex justify-content-center flex-wrap gap-xxl-5 mt-5">
    <div class="card text-center shadow" style="width: 18rem; background-color: #f8f9fa;">
        <img src="https://images.pexels.com/photos/3808904/pexels-photo-3808904.jpeg" class="card-img-top" alt="yazarlar">
        <div class="card-body">
            <h5 class="card-title">Yazarlarımız</h5>
            <p class="card-text">Kütüphanemizde eserleri olan yazarların listesi</p>
            <a href="/Author/List" class="btn btn-primary">Yazarlar</a>
        </div>
    </div>

    <div class="card text-center shadow" style="width: 18rem; background-color: #f8f9fa;">
        <img src="https://images.pexels.com/photos/2908773/pexels-photo-2908773.jpeg" class="card-img-top" alt="kitaplar">
        <div class="card-body">
            <h5 class="card-title">Kitaplarımız</h5>
            <p class="card-text">Kütüphanemizde olan kitapların listesi</p>
            <a href="/Book/List" class="btn btn-primary">Kitaplar</a>
        </div>
    </div>
    <div class="card text-center shadow" style="width: 18rem; background-color: #f8f9fa;">
        <img src="https://images.pexels.com/photos/1850022/pexels-photo-1850022.jpeg" class="card-img-top" alt="hakkında">
        <div class="card-body">
            <h5 class="card-title">Hakkımızda</h5>
            <p class="card-text">Kütüphanemiz hakkında detaylı bilgiler</p>
            <a href="/About/Index" class="btn btn-primary">Hakkımızda</a>
        </div>
    </div>
</div>